beautifulsoup4
mistralai
streamlit
langchain_community 
langchain_mistralai
langchain_huggingface 
torch 
torchvision 
torchaudio
faiss-cpu 
nest_asyncio
mwparserfromhell
transformers 
accelerate 
torch
bitsandbytes
llama-cpp-python
