beautifulsoup4
mistralai
streamlit
pandas
torch 
torchvision 
nest_asyncio
spacy
https://github.com/explosion/spacy-models/releases/download/it_core_news_md-3.8.0/it_core_news_md-3.8.0-py3-none-any.whl
keybert
nltk
python-dotenv
sentence-transformers
pytesseract
pillow
opencv-python-headless
requests
backoff
faiss-cpu
